<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<contentSearch>
			<indexConfigurations>
				<defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
					<fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
						<typeMatches hint="raw:AddTypeMatch">
							<typeMatch typeName="guidIEnumerable" type="System.Collections.Generic.IEnumerable`1[System.Guid]" fieldNameFormat="{0}_sm" multiValued="true" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
						</typeMatches>
						<fieldTypes hint="raw:AddFieldByFieldTypeName">
							<fieldType fieldTypeName="tags" returnType="stringCollection" />
						</fieldTypes>
					</fieldMap>
					<fields hint="raw:AddCopyField">
						<field fieldName="_tags" returnType="stringCollection">tags</field>
					</fields>
					<fields hint="raw:AddComputedIndexField">
						<field fieldName="_templates" returnType="string">Fortis.Search.InheritedTemplates, Fortis</field>
					</fields>
					<FieldReaders type="Sitecore.ContentSearch.FieldReaders.FieldReaderMap, Sitecore.ContentSearch">
						<mapFieldByTypeName hint="raw:AddFieldReaderByFieldTypeName">
							<fieldReader fieldTypeName="tags"    fieldReaderType="Sitecore.ContentSearch.FieldReaders.MultiListFieldReader, Sitecore.ContentSearch" />
						</mapFieldByTypeName>
					</FieldReaders>
				</defaultSolrIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>
