<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	  <fieldTypes>
		  <!-- Custom Types -->
		  <fieldType name="tags" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel" resizable="true" />
	  </fieldTypes>
	  <controlSources>
		  <source mode="on" namespace="Rocketcore.Content.Tagging.FieldTypes" assembly="Rocketcore.Content.Tagging" prefix="rocketcore" />
	  </controlSources>
    <clientscripts>
      <everypage>
        <script src="/Rocketcore/FieldTypes/assets/Tagging/js/rocketcore-tags-field.js" language="javascript" key="tag field functions"/>
      </everypage>
      <htmleditor>
        <script src="/Rocketcore/FieldTypes/assets/Tagging/js/rocketcore-tags-field.js" language="javascript" key="tag field functions"/>
      </htmleditor>
    </clientscripts>
  </sitecore>
</configuration>