<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<!-- URL replacements -->
		<encodeNameReplacements>
			<replace mode="on" find=" " replaceWith="-" />
			<replace mode="on" find="A" replaceWith="a" />
			<replace mode="on" find="B" replaceWith="b" />
			<replace mode="on" find="C" replaceWith="c" />
			<replace mode="on" find="D" replaceWith="d" />
			<replace mode="on" find="E" replaceWith="e" />
			<replace mode="on" find="F" replaceWith="f" />
			<replace mode="on" find="G" replaceWith="g" />
			<replace mode="on" find="H" replaceWith="h" />
			<replace mode="on" find="I" replaceWith="i" />
			<replace mode="on" find="J" replaceWith="j" />
			<replace mode="on" find="K" replaceWith="k" />
			<replace mode="on" find="L" replaceWith="l" />
			<replace mode="on" find="M" replaceWith="m" />
			<replace mode="on" find="N" replaceWith="n" />
			<replace mode="on" find="O" replaceWith="o" />
			<replace mode="on" find="P" replaceWith="p" />
			<replace mode="on" find="Q" replaceWith="q" />
			<replace mode="on" find="R" replaceWith="r" />
			<replace mode="on" find="S" replaceWith="s" />
			<replace mode="on" find="T" replaceWith="t" />
			<replace mode="on" find="U" replaceWith="u" />
			<replace mode="on" find="V" replaceWith="v" />
			<replace mode="on" find="W" replaceWith="w" />
			<replace mode="on" find="X" replaceWith="x" />
			<replace mode="on" find="Y" replaceWith="y" />
			<replace mode="on" find="Z" replaceWith="z" />
		</encodeNameReplacements>
		<pipelines>
			<renderField>
				<processor type="Fortis.Pipelines.RenderField.LinkRenderer, Fortis" patch:before="processor[@type='Sitecore.Pipelines.RenderField.AddBeforeAndAfterValues, Sitecore.Kernel']" />
				<processor type="Rocketcore.Pipelines.RenderField.DynamicImage, Rocketcore" patch:after="processor[@type='Sitecore.Pipelines.RenderField.AddBeforeAndAfterValues, Sitecore.Kernel']" />
			</renderField>
		</pipelines>
	</sitecore>
</configuration>