<section class="row hdr_imgs">
	<div class="column c4">
		@Html.Sitecore().DynamicPlaceholder("sideContent")
	</div>
	<div class="column c4">
		@Html.Sitecore().DynamicPlaceholder("content")
	</div>
	<div class="column c4">
		@Html.Sitecore().DynamicPlaceholder("sideContent2")
	</div>
</section>