@model RenderingModel<IMetaData, IMetaData>
<title>@Model.RenderingItem.PageTitle.Render(editing: false)</title>
<meta name="description" content="@Model.RenderingItem.Description.Render(editing: false)">