@model RenderingModel<IContentHeadings, IContentHeadings>
@if (Model.RenderingItem != null)
{
	if (!String.IsNullOrEmpty(Model.RenderingItem.Title.RawValue)) {
	<h1 class="heading">@Model.RenderingItem.Title</h1>
	}
	if (!String.IsNullOrEmpty(Model.RenderingItem.SubTitle.RawValue)) { 
	 <p>@Model.RenderingItem.SubTitle</p>
	}
}
