<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<events>
			<event name="item:saved">
				<handler type="Rocketcore.Mvc.Events.DynamicPlaceholder, Rocketcore.Mvc" method="OnItemSaved" />
			</event>
		</events>
		<pipelines>
			<getPlaceholderRenderings>
				<processor type="Rocketcore.Mvc.Pipelines.GetPlaceholderRenderings.GetDynamicKeyAllowedRenderings, Rocketcore.Mvc" patch:instead="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']"/>
			</getPlaceholderRenderings>
			<getChromeData>
				<processor type="Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel">
					<patch:attribute name="type">Rocketcore.Mvc.Pipelines.GetChromeData.GetDynamicPlaceholderChromeData, Rocketcore.Mvc</patch:attribute>
				</processor>
			</getChromeData>
			<executePageEditorAction>
				<processor type="Sitecore.Pipelines.ExecutePageEditorAction.ReplaceRendering, Sitecore.Kernel">
					<patch:attribute name="type">Rocketcore.Mvc.Pipelines.ExecutePageEditorAction.DynamicReplaceRendering, Rocketcore.Mvc</patch:attribute>
				</processor>
			</executePageEditorAction>
		</pipelines>
	</sitecore>
</configuration>