<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<contentSearch>
			<indexConfigurations>
				<defaultLuceneIndexConfiguration>
					<fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
						<fieldTypes hint="raw:AddFieldByFieldTypeName">
							<fieldType fieldTypeName="tags"              storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String"   settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
						</fieldTypes>
					</fieldMap>
					<fieldReaders type="Sitecore.ContentSearch.FieldReaders.FieldReaderMap, Sitecore.ContentSearch">
						<mapFieldByTypeName hint="raw:AddFieldReaderByFieldTypeName">
							<fieldReader fieldTypeName="tags"    fieldReaderType="Sitecore.ContentSearch.FieldReaders.MultiListFieldReader, Sitecore.ContentSearch" />
						</mapFieldByTypeName>
					</fieldReaders>
					<fields hint="raw:AddComputedIndexField">
						<field fieldName="_tags" type="Rocketcore.Search.ComputedFields.CopyIdFields, Rocketcore.Search">
							<copyFields>
								<copyField>tags</copyField>
								<copyField>categories</copyField>
							</copyFields>
						</field>
					</fields>
				</defaultLuceneIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>
