<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<contentSearch>
			<indexConfigurations>
				<defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
					<fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
						<fieldTypes hint="raw:AddFieldByFieldTypeName">
							<fieldType fieldTypeName="tags"              storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String"   settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
						</fieldTypes>
					</fieldMap>
					<fieldReaders type="Sitecore.ContentSearch.FieldReaders.FieldReaderMap, Sitecore.ContentSearch">
						<mapFieldByTypeName hint="raw:AddFieldReaderByFieldTypeName">
							<fieldReader fieldTypeName="tags"    fieldReaderType="Sitecore.ContentSearch.FieldReaders.MultiListFieldReader, Sitecore.ContentSearch" />
						</mapFieldByTypeName>
					</fieldReaders>
				</defaultLuceneIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>
